doctype html
html(lang='en')
  head
    title vue mdl
    link(rel='stylesheet' href='../bower_components/material-design-lite/material.min.css')
    script(src='../bower_components/material-design-lite/material.min.js')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
  body
    h1 Hello
    #test
    script(src='./test-bundle.js')
