$image_path: '../../../node_modules/material-design-lite/src/images';
@import "../../../node_modules/material-design-lite/src/color-definitions";
$custom-green: "44, 62, 80";
$custom-green-dark: "57, 159, 113";
$custom-navy: "0, 150, 136";
$custom-navy-dark: "0, 80, 69";

$color-primary: $custom-navy;
$color-primary-dark: $custom-navy-dark;
$color-accent: $custom-green;
$color-primary-contrast: $color-accent;
$color-accent-contrast: $color-primary;

@import "../../../node_modules/material-design-lite/src/material-design-lite";

// I somehow broke this when changing colors
// It doesn't work on firefox at the moment...
.mdl-progress:not(.mdl-progress__indeterminate):not(.mdl-progress__indeterminate) > .auxbar {
  -webkit-mask-image: url("../../../node_modules/material-design-lite/src/images/buffer.svg");
  mask: url("../../../node_modules/material-design-lite/src/images/buffer.svg");
}
