@import "../../../node_modules/material-design-lite/src/color-definitions";

$color-primary: $palette-teal-500;
$color-primary-dark: $palette-teal-700;
$color-accent: $palette-indigo-A700;

@import "../../../node_modules/material-design-lite/src/material-design-lite";
